/*==========================================================
    Abstract:
          => This Framework has been written
          => MD.SUJAN AHMED
============================================================*/


/*Start Framework*/
$body-bg:#333;
$font-color:#fff;

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a,
a:hover {
    list-style-type: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
button,
input,
p {
    margin: 0;
    padding: 0;
}

body {
    font-size: 17px;
    background: #333;
    color: #fff;
}

/*==========================================================
    btn:-
============================================================*/

/*==========================================================
    Padding Section:-
============================================================*/

/*==========================================================
    Margin:-
============================================================*/

/*End Framework*/





/*==========================================================
    Header Start
============================================================*/

.navbar {
    border-bottom: 3px solid #008ed6;
    background: #292b2c;
    opacity: 0.8;
}

#home-top-section {
    background: url(../img/home.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;

}

.dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    min-height: 700px;
}

.fa {
    background: #fff;
    color: #008ed6;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
}

.card-form {
    opacity: 0.8;
}

.home-inner {
    padding-top: 120px;
    padding-bottom: 50px;
}

.card-form {
    margin-top: 35px;
    border-radius: 10px;
}

#explore-main .fa {
    background: #333;
    color: #fff;

}

#create-main .fa {
    background: #fff;
    color: #008ed6;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
}

#create-main {
    min-height: 500px;
}

#share-main .fa {
    background: #333;
    color: #fff;

}

#go_top{
    margin-top: -50px; 
}

.go-top {
    padding: 0px 0px 18px 0px;
    margin: 0 0 0 10px;
}





/*-----------------------------------mediaquery-----------------------------------------------------*/

@media(max-width: 768px) {
    #home-top-section h1 {
        font-size: 40px;
    }
}
